[Unit]
Description=radarr

[Container]
Image=lscr.io/linuxserver/radarr:latest

PublishPort=7878:7878

Volume=/etc/localtime:/etc/localtime:ro
Volume=/apps/radarr:/config
Volume=/data/media:/data

EnvironmentFile=vars.env

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target